* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin-top: 0px;
    text-align:center;
    background-color: black;
}

#bad_jokes{
    text-align:center;
    color:white;
    background-color: black;
}

body{
    margin: 0px;
    margin-top: 0px;
    text-align:center;
    color:black;
}
nav {
    color:white;
    background-color: grey;
    text-align: left;
}

a {
    color:white;
    text-decoration: none;
}

.mainformatting {
    background: linear-gradient(#f7C319, #FDFBCF);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
